<!-- The container that contains both, the input and the output sections. -->
<div class="container">

  <!-- The input Section:  -->
  <div class="input">
    <form (ngSubmit)="onSubmit()">
      <label for="unordered-list">Un-ordered List</label>
      <input
        id = "unordered-list"
        type="text"
        placeholder="e.g., 5,3,8,6,2"
        [(ngModel)]="inputString"
        name="unorderedList"
        required
      >
      <button type="submit">Sort</button>
    </form>
  </div>

  <!-- The output Section:  -->
  <div class="output"></div>
</div>
